body{
    background-color: #dcdcde;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#taco-img {
    width: 300px;
    height: 300px;

}

h2 {
    color: rgb(149, 14, 14);
}

.logo {
    background-color: rgb(51, 141, 255);
    flex: 25%;
}

p {
    color: black;
}

h3 {
    color: rgb(149, 14, 14);
}

#button1 {
    border: grey;
    background-color: antiquewhite;
}

#button2 {
    border: grey;
    background-color: antiquewhite;
}

#button3 {
    border: grey;
    background-color: antiquewhite;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    width: calc(100px * 18);
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 50%;
}